Escc.ServiceClosures.AdministrationTool/Web References/SchoolsInformationService/SchoolsInformationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="getSchoolList">
        <s:complexType />
      </s:element>
      <s:element name="getSchoolListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSchoolListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchoolDistrictList">
        <s:complexType />
      </s:element>
      <s:element name="SchoolDistrictListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SchoolDistrictListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AreasInClusterList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clusterId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AreasInClusterListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AreasInClusterListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchoolsInClusterAreaList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clusterAreaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SchoolsInClusterAreaListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SchoolsInClusterAreaListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSIDPhaseList">
        <s:complexType />
      </s:element>
      <s:element name="getSIDPhaseListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSIDPhaseListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPhaseFilteredSchoolList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intSchoolPhaseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPhaseFilteredSchoolListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPhaseFilteredSchoolListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSchoolReferencesFromADGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ADGroupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSchoolReferencesFromADGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSchoolReferencesFromADGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetADGroupFromSchoolCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schoolCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetADGroupFromSchoolCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetADGroupFromSchoolCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchoolRoleListForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserNetID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchoolRoleListForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchoolRoleListForUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataSchoolAdmissionsPortal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSchoolCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataSchoolAdmissionsPortalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSchoolAdmissionsPortalResult" type="tns:SchoolData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SchoolData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SIDSchoolID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BS7666Address" type="tns:BS7666Address" />
          <s:element minOccurs="0" maxOccurs="1" name="IDEARAddress" type="tns:IDEARAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgeRangeLower" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgeRangeUpper" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsChurchAided" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Weblinks" type="tns:SchoolWebLinks" />
          <s:element minOccurs="0" maxOccurs="1" name="Closures" type="tns:ArrayOfSchoolClosureItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Admissions" type="tns:AdmissionsData" />
          <s:element minOccurs="0" maxOccurs="1" name="Headteacher" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HeadteacherRole" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Headteachers" type="tns:ArrayOfSchoolContact" />
          <s:element minOccurs="1" maxOccurs="1" name="PhaseId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BS7666Address">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GridEasting" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GridNorthing" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdministrativeArea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Saon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Paon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usrn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uprn" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IDEARAddress">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GridEasting" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GridNorthing" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Town" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchoolWebLinks">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SchoolWebsite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfstedReportWebsite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolPerformanceWebsite" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSchoolClosureItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SchoolClosureItem" nillable="true" type="tns:SchoolClosureItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchoolClosureItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClosureTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdmissionsData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ComingPupilIntake" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ComingEstimatedNOR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentPupilIntake" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstPreferences" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSchoolContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SchoolContact" nillable="true" type="tns:SchoolContact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchoolContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="datasetSchoolAdmissionsPortal_AllSchools">
        <s:complexType />
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_AllSchoolsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datasetSchoolAdmissionsPortal_AllSchoolsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_SchoolsByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSchoolName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_SchoolsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datasetSchoolAdmissionsPortal_SchoolsByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XMax" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="XMin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="YMax" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="YMin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SchoolPhaseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_SpecificSchool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSchoolCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_SpecificSchoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datasetSchoolAdmissionsPortal_SpecificSchoolResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_PhaseFilteredSchools">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intSchoolPhaseID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="datasetSchoolAdmissionsPortal_PhaseFilteredSchoolsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datasetSchoolAdmissionsPortal_PhaseFilteredSchoolsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ESCCContactListForSchool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSchoolCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ESCCContactListForSchoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ESCCContactListForSchoolResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ESCCContactListGeneric">
        <s:complexType />
      </s:element>
      <s:element name="ESCCContactListGenericResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ESCCContactListGenericResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureTypeList">
        <s:complexType />
      </s:element>
      <s:element name="ClosureTypeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureTypeListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="futureOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureListResult" type="tns:ArrayOfService" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfService">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Service">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedDataUri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="tns:ServiceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Closures" type="tns:ArrayOfClosure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SingularText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PluralText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClosure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Closure" nillable="true" type="tns:Closure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Closure">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ClosureStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="tns:ClosureReason" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DaysNotice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateAdded" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateModified" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfirmationRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfirmationOverdue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfirmedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedDataUri" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ClosureStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Closed" />
          <s:enumeration value="PartlyClosed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ClosureReason">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Emergency" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiresNotes" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Selectable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MayAffectAllServices" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClosureInfoAllSchools">
        <s:complexType />
      </s:element>
      <s:element name="ClosureInfoAllSchoolsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureInfoAllSchoolsResult" type="tns:ClosureInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClosureInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="tns:ArrayOfService" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowAllServicesView" type="tns:ShowAllServicesView" />
          <s:element minOccurs="1" maxOccurs="1" name="ShortNoticeDays" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ShowAllServicesView">
        <s:restriction base="s:string">
          <s:enumeration value="Always" />
          <s:enumeration value="Never" />
          <s:enumeration value="Auto" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ClosureListForSchool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="schoolId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="futureOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureListForSchoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureListForSchoolResult" type="tns:ArrayOfClosure" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAmendClosure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="schoolId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="closureId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="closureTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:ClosureStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAmendClosureResponse">
        <s:complexType />
      </s:element>
      <s:element name="ConfirmClosure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="closureId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmClosureResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckIfClosureExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="schoolId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="closureTypeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:ClosureStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIfClosureExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckIfClosureExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureSubscriptionListForSchool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="schoolId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeGlobalSubscriptions" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="includeInactiveSubscriptions" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureSubscriptionListForSchoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureSubscriptionListForSchoolResult" type="tns:ArrayOfSubscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubscription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Subscription" nillable="true" type="tns:Subscription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subscription">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:SubscriptionType" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Service" type="tns:Service" />
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficialNotification" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SubscriptionType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Email" />
          <s:enumeration value="TextMessage" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ClosureSubscriptionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="includeInactiveSubscriptions" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureSubscriptionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureSubscriptionListResult" type="tns:ArrayOfSubscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureSubscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureSubscriptionResult" type="tns:Subscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAmendClosureSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subscriptionAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:SubscriptionType" />
            <s:element minOccurs="1" maxOccurs="1" name="schoolId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="officialNotification" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionCode" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAmendClosureSubscriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClosureSubscriptionExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subscriptionAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:SubscriptionType" />
            <s:element minOccurs="1" maxOccurs="1" name="schoolId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureSubscriptionExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClosureSubscriptionExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateClosureSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionCode" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateClosureSubscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivateClosureSubscriptionResult" type="tns:Subscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeactivateClosureSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionCode" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeactivateClosureSubscriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeactivateClosureSubscriptionResult" type="tns:Subscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClosureSubscription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subscriptionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClosureSubscriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClosureModeratorsList">
        <s:complexType />
      </s:element>
      <s:element name="ClosureModeratorsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureModeratorsListResult" type="tns:ArrayOfModerator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModerator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Moderator" nillable="true" type="tns:Moderator" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Moderator">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="tns:ContactEmail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactEmail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Preferred" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Usage" type="tns:ContactUsage" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ContactUsage">
        <s:restriction base="s:string">
          <s:enumeration value="NotSpecified" />
          <s:enumeration value="Work" />
          <s:enumeration value="Home" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ClosureModerator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="moderatorId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureModeratorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosureModeratorResult" type="tns:Moderator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAmendClosureModerator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="moderatorId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="moderatorAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAmendClosureModeratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteClosureModerator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="moderatorId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClosureModeratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClosuresNotTweeted">
        <s:complexType />
      </s:element>
      <s:element name="ClosuresNotTweetedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClosuresNotTweetedResult" type="tns:ArrayOfService" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureTweeted">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="closureId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tweetUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClosureTweetedResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getSchoolListSoapIn">
    <wsdl:part name="parameters" element="tns:getSchoolList" />
  </wsdl:message>
  <wsdl:message name="getSchoolListSoapOut">
    <wsdl:part name="parameters" element="tns:getSchoolListResponse" />
  </wsdl:message>
  <wsdl:message name="SchoolDistrictListSoapIn">
    <wsdl:part name="parameters" element="tns:SchoolDistrictList" />
  </wsdl:message>
  <wsdl:message name="SchoolDistrictListSoapOut">
    <wsdl:part name="parameters" element="tns:SchoolDistrictListResponse" />
  </wsdl:message>
  <wsdl:message name="AreasInClusterListSoapIn">
    <wsdl:part name="parameters" element="tns:AreasInClusterList" />
  </wsdl:message>
  <wsdl:message name="AreasInClusterListSoapOut">
    <wsdl:part name="parameters" element="tns:AreasInClusterListResponse" />
  </wsdl:message>
  <wsdl:message name="SchoolsInClusterAreaListSoapIn">
    <wsdl:part name="parameters" element="tns:SchoolsInClusterAreaList" />
  </wsdl:message>
  <wsdl:message name="SchoolsInClusterAreaListSoapOut">
    <wsdl:part name="parameters" element="tns:SchoolsInClusterAreaListResponse" />
  </wsdl:message>
  <wsdl:message name="getSIDPhaseListSoapIn">
    <wsdl:part name="parameters" element="tns:getSIDPhaseList" />
  </wsdl:message>
  <wsdl:message name="getSIDPhaseListSoapOut">
    <wsdl:part name="parameters" element="tns:getSIDPhaseListResponse" />
  </wsdl:message>
  <wsdl:message name="getPhaseFilteredSchoolListSoapIn">
    <wsdl:part name="parameters" element="tns:getPhaseFilteredSchoolList" />
  </wsdl:message>
  <wsdl:message name="getPhaseFilteredSchoolListSoapOut">
    <wsdl:part name="parameters" element="tns:getPhaseFilteredSchoolListResponse" />
  </wsdl:message>
  <wsdl:message name="getSchoolReferencesFromADGroupSoapIn">
    <wsdl:part name="parameters" element="tns:getSchoolReferencesFromADGroup" />
  </wsdl:message>
  <wsdl:message name="getSchoolReferencesFromADGroupSoapOut">
    <wsdl:part name="parameters" element="tns:getSchoolReferencesFromADGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetADGroupFromSchoolCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetADGroupFromSchoolCode" />
  </wsdl:message>
  <wsdl:message name="GetADGroupFromSchoolCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetADGroupFromSchoolCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchoolRoleListForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchoolRoleListForUser" />
  </wsdl:message>
  <wsdl:message name="GetSchoolRoleListForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchoolRoleListForUserResponse" />
  </wsdl:message>
  <wsdl:message name="dataSchoolAdmissionsPortalSoapIn">
    <wsdl:part name="parameters" element="tns:dataSchoolAdmissionsPortal" />
  </wsdl:message>
  <wsdl:message name="dataSchoolAdmissionsPortalSoapOut">
    <wsdl:part name="parameters" element="tns:dataSchoolAdmissionsPortalResponse" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_AllSchoolsSoapIn">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_AllSchools" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_AllSchoolsSoapOut">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_AllSchoolsResponse" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_SchoolsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_SchoolsByName" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_SchoolsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_SchoolsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangleSoapIn">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_SchoolsInGISRectangle" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangleSoapOut">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_SchoolsInGISRectangleResponse" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_SpecificSchoolSoapIn">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_SpecificSchool" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_SpecificSchoolSoapOut">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_SpecificSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_PhaseFilteredSchoolsSoapIn">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_PhaseFilteredSchools" />
  </wsdl:message>
  <wsdl:message name="datasetSchoolAdmissionsPortal_PhaseFilteredSchoolsSoapOut">
    <wsdl:part name="parameters" element="tns:datasetSchoolAdmissionsPortal_PhaseFilteredSchoolsResponse" />
  </wsdl:message>
  <wsdl:message name="ESCCContactListForSchoolSoapIn">
    <wsdl:part name="parameters" element="tns:ESCCContactListForSchool" />
  </wsdl:message>
  <wsdl:message name="ESCCContactListForSchoolSoapOut">
    <wsdl:part name="parameters" element="tns:ESCCContactListForSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="ESCCContactListGenericSoapIn">
    <wsdl:part name="parameters" element="tns:ESCCContactListGeneric" />
  </wsdl:message>
  <wsdl:message name="ESCCContactListGenericSoapOut">
    <wsdl:part name="parameters" element="tns:ESCCContactListGenericResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureTypeListSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureTypeList" />
  </wsdl:message>
  <wsdl:message name="ClosureTypeListSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureListSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureList" />
  </wsdl:message>
  <wsdl:message name="ClosureListSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureListResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureInfoAllSchoolsSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureInfoAllSchools" />
  </wsdl:message>
  <wsdl:message name="ClosureInfoAllSchoolsSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureInfoAllSchoolsResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureListForSchoolSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureListForSchool" />
  </wsdl:message>
  <wsdl:message name="ClosureListForSchoolSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureListForSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="AddAmendClosureSoapIn">
    <wsdl:part name="parameters" element="tns:AddAmendClosure" />
  </wsdl:message>
  <wsdl:message name="AddAmendClosureSoapOut">
    <wsdl:part name="parameters" element="tns:AddAmendClosureResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmClosureSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmClosure" />
  </wsdl:message>
  <wsdl:message name="ConfirmClosureSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmClosureResponse" />
  </wsdl:message>
  <wsdl:message name="CheckIfClosureExistsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckIfClosureExists" />
  </wsdl:message>
  <wsdl:message name="CheckIfClosureExistsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckIfClosureExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionListForSchoolSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureSubscriptionListForSchool" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionListForSchoolSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureSubscriptionListForSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionListSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureSubscriptionList" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionListSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureSubscriptionListResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureSubscription" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="AddAmendClosureSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:AddAmendClosureSubscription" />
  </wsdl:message>
  <wsdl:message name="AddAmendClosureSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:AddAmendClosureSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionExistsSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureSubscriptionExists" />
  </wsdl:message>
  <wsdl:message name="ClosureSubscriptionExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureSubscriptionExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateClosureSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateClosureSubscription" />
  </wsdl:message>
  <wsdl:message name="ActivateClosureSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateClosureSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="DeactivateClosureSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:DeactivateClosureSubscription" />
  </wsdl:message>
  <wsdl:message name="DeactivateClosureSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:DeactivateClosureSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClosureSubscriptionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteClosureSubscription" />
  </wsdl:message>
  <wsdl:message name="DeleteClosureSubscriptionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClosureSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureModeratorsListSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureModeratorsList" />
  </wsdl:message>
  <wsdl:message name="ClosureModeratorsListSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureModeratorsListResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureModeratorSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureModerator" />
  </wsdl:message>
  <wsdl:message name="ClosureModeratorSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureModeratorResponse" />
  </wsdl:message>
  <wsdl:message name="AddAmendClosureModeratorSoapIn">
    <wsdl:part name="parameters" element="tns:AddAmendClosureModerator" />
  </wsdl:message>
  <wsdl:message name="AddAmendClosureModeratorSoapOut">
    <wsdl:part name="parameters" element="tns:AddAmendClosureModeratorResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClosureModeratorSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteClosureModerator" />
  </wsdl:message>
  <wsdl:message name="DeleteClosureModeratorSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClosureModeratorResponse" />
  </wsdl:message>
  <wsdl:message name="ClosuresNotTweetedSoapIn">
    <wsdl:part name="parameters" element="tns:ClosuresNotTweeted" />
  </wsdl:message>
  <wsdl:message name="ClosuresNotTweetedSoapOut">
    <wsdl:part name="parameters" element="tns:ClosuresNotTweetedResponse" />
  </wsdl:message>
  <wsdl:message name="ClosureTweetedSoapIn">
    <wsdl:part name="parameters" element="tns:ClosureTweeted" />
  </wsdl:message>
  <wsdl:message name="ClosureTweetedSoapOut">
    <wsdl:part name="parameters" element="tns:ClosureTweetedResponse" />
  </wsdl:message>
  <wsdl:portType name="SchoolsInformationWebServiceSoap">
    <wsdl:operation name="getSchoolList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the definitive list of schools and colleges as listed by the SID application (this list is maintained by the CS e-Business team</wsdl:documentation>
      <wsdl:input message="tns:getSchoolListSoapIn" />
      <wsdl:output message="tns:getSchoolListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SchoolDistrictList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a list of all the districts from the Tribal CPD database that East Sussex schools belong to (via View in SID)</wsdl:documentation>
      <wsdl:input message="tns:SchoolDistrictListSoapIn" />
      <wsdl:output message="tns:SchoolDistrictListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AreasInClusterList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a list of the cluster areas in a SID cluster</wsdl:documentation>
      <wsdl:input message="tns:AreasInClusterListSoapIn" />
      <wsdl:output message="tns:AreasInClusterListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SchoolsInClusterAreaList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a list of the schools in a SID cluster area</wsdl:documentation>
      <wsdl:input message="tns:SchoolsInClusterAreaListSoapIn" />
      <wsdl:output message="tns:SchoolsInClusterAreaListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSIDPhaseList">
      <wsdl:input message="tns:getSIDPhaseListSoapIn" />
      <wsdl:output message="tns:getSIDPhaseListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPhaseFilteredSchoolList">
      <wsdl:input message="tns:getPhaseFilteredSchoolListSoapIn" />
      <wsdl:output message="tns:getPhaseFilteredSchoolListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSchoolReferencesFromADGroup">
      <wsdl:input message="tns:getSchoolReferencesFromADGroupSoapIn" />
      <wsdl:output message="tns:getSchoolReferencesFromADGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetADGroupFromSchoolCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the AD group name from the school code.</wsdl:documentation>
      <wsdl:input message="tns:GetADGroupFromSchoolCodeSoapIn" />
      <wsdl:output message="tns:GetADGroupFromSchoolCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchoolRoleListForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Looks up the multiple school roles for a user in SID.</wsdl:documentation>
      <wsdl:input message="tns:GetSchoolRoleListForUserSoapIn" />
      <wsdl:output message="tns:GetSchoolRoleListForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dataSchoolAdmissionsPortal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the 'SchoolAdmissionsPortal' data for a specific school identified by the full school code (e.g. 8452050).</wsdl:documentation>
      <wsdl:input message="tns:dataSchoolAdmissionsPortalSoapIn" />
      <wsdl:output message="tns:dataSchoolAdmissionsPortalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_AllSchools">
      <wsdl:input message="tns:datasetSchoolAdmissionsPortal_AllSchoolsSoapIn" />
      <wsdl:output message="tns:datasetSchoolAdmissionsPortal_AllSchoolsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SchoolsByName">
      <wsdl:input message="tns:datasetSchoolAdmissionsPortal_SchoolsByNameSoapIn" />
      <wsdl:output message="tns:datasetSchoolAdmissionsPortal_SchoolsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangle">
      <wsdl:input message="tns:datasetSchoolAdmissionsPortal_SchoolsInGISRectangleSoapIn" />
      <wsdl:output message="tns:datasetSchoolAdmissionsPortal_SchoolsInGISRectangleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SpecificSchool">
      <wsdl:input message="tns:datasetSchoolAdmissionsPortal_SpecificSchoolSoapIn" />
      <wsdl:output message="tns:datasetSchoolAdmissionsPortal_SpecificSchoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_PhaseFilteredSchools">
      <wsdl:input message="tns:datasetSchoolAdmissionsPortal_PhaseFilteredSchoolsSoapIn" />
      <wsdl:output message="tns:datasetSchoolAdmissionsPortal_PhaseFilteredSchoolsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ESCCContactListForSchool">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all the ESCC school contacts for a given school code and returns a DataSet.</wsdl:documentation>
      <wsdl:input message="tns:ESCCContactListForSchoolSoapIn" />
      <wsdl:output message="tns:ESCCContactListForSchoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ESCCContactListGeneric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all the generic ESCC school contacts and returns a DataSet.</wsdl:documentation>
      <wsdl:input message="tns:ESCCContactListGenericSoapIn" />
      <wsdl:output message="tns:ESCCContactListGenericSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureTypeList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the list of possible closure types</wsdl:documentation>
      <wsdl:input message="tns:ClosureTypeListSoapIn" />
      <wsdl:output message="tns:ClosureTypeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the list of closures for all schools</wsdl:documentation>
      <wsdl:input message="tns:ClosureListSoapIn" />
      <wsdl:output message="tns:ClosureListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureInfoAllSchools">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the list of closures for all schools, including configuration settings for the closures system</wsdl:documentation>
      <wsdl:input message="tns:ClosureInfoAllSchoolsSoapIn" />
      <wsdl:output message="tns:ClosureInfoAllSchoolsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureListForSchool">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the list of closures for a school</wsdl:documentation>
      <wsdl:input message="tns:ClosureListForSchoolSoapIn" />
      <wsdl:output message="tns:ClosureListForSchoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosure">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds or amends a school closure</wsdl:documentation>
      <wsdl:input message="tns:AddAmendClosureSoapIn" />
      <wsdl:output message="tns:AddAmendClosureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmClosure">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirms a school closure is still in force</wsdl:documentation>
      <wsdl:input message="tns:ConfirmClosureSoapIn" />
      <wsdl:output message="tns:ConfirmClosureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfClosureExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks whether a duplicate school closure already exists</wsdl:documentation>
      <wsdl:input message="tns:CheckIfClosureExistsSoapIn" />
      <wsdl:output message="tns:CheckIfClosureExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionListForSchool">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets subscriptions to closure information about a school</wsdl:documentation>
      <wsdl:input message="tns:ClosureSubscriptionListForSchoolSoapIn" />
      <wsdl:output message="tns:ClosureSubscriptionListForSchoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets subscriptions to closure information</wsdl:documentation>
      <wsdl:input message="tns:ClosureSubscriptionListSoapIn" />
      <wsdl:output message="tns:ClosureSubscriptionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a subscription to closure information</wsdl:documentation>
      <wsdl:input message="tns:ClosureSubscriptionSoapIn" />
      <wsdl:output message="tns:ClosureSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosureSubscription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds or amends a school closure subscription</wsdl:documentation>
      <wsdl:input message="tns:AddAmendClosureSubscriptionSoapIn" />
      <wsdl:output message="tns:AddAmendClosureSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Checks whether a school closure subscription exists</wsdl:documentation>
      <wsdl:input message="tns:ClosureSubscriptionExistsSoapIn" />
      <wsdl:output message="tns:ClosureSubscriptionExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateClosureSubscription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Activates a school closure subscription</wsdl:documentation>
      <wsdl:input message="tns:ActivateClosureSubscriptionSoapIn" />
      <wsdl:output message="tns:ActivateClosureSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateClosureSubscription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deactivates a school closure subscription</wsdl:documentation>
      <wsdl:input message="tns:DeactivateClosureSubscriptionSoapIn" />
      <wsdl:output message="tns:DeactivateClosureSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClosureSubscription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a school closure subscription</wsdl:documentation>
      <wsdl:input message="tns:DeleteClosureSubscriptionSoapIn" />
      <wsdl:output message="tns:DeleteClosureSubscriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureModeratorsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets moderators for closure information</wsdl:documentation>
      <wsdl:input message="tns:ClosureModeratorsListSoapIn" />
      <wsdl:output message="tns:ClosureModeratorsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureModerator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a moderator of closure information</wsdl:documentation>
      <wsdl:input message="tns:ClosureModeratorSoapIn" />
      <wsdl:output message="tns:ClosureModeratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosureModerator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds or amends a school closure moderator</wsdl:documentation>
      <wsdl:input message="tns:AddAmendClosureModeratorSoapIn" />
      <wsdl:output message="tns:AddAmendClosureModeratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClosureModerator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a school closure moderator</wsdl:documentation>
      <wsdl:input message="tns:DeleteClosureModeratorSoapIn" />
      <wsdl:output message="tns:DeleteClosureModeratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosuresNotTweeted">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the list of closures not yet posted to Twitter</wsdl:documentation>
      <wsdl:input message="tns:ClosuresNotTweetedSoapIn" />
      <wsdl:output message="tns:ClosuresNotTweetedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClosureTweeted">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirms a school closure has been tweeted</wsdl:documentation>
      <wsdl:input message="tns:ClosureTweetedSoapIn" />
      <wsdl:output message="tns:ClosureTweetedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchoolsInformationWebServiceSoap" type="tns:SchoolsInformationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSchoolList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getSchoolList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchoolDistrictList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/SchoolDistrictList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreasInClusterList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AreasInClusterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchoolsInClusterAreaList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/SchoolsInClusterAreaList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSIDPhaseList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getSIDPhaseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhaseFilteredSchoolList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getPhaseFilteredSchoolList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchoolReferencesFromADGroup">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getSchoolReferencesFromADGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetADGroupFromSchoolCode">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/GetADGroupFromSchoolCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchoolRoleListForUser">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/GetSchoolRoleListForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataSchoolAdmissionsPortal">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/dataSchoolAdmissionsPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_AllSchools">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_AllSchools" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SchoolsByName">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_SchoolsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangle">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_SchoolsInGISRectangle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SpecificSchool">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_SpecificSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_PhaseFilteredSchools">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_PhaseFilteredSchools" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ESCCContactListForSchool">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ESCCContactListForSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ESCCContactListGeneric">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ESCCContactListGeneric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureTypeList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureInfoAllSchools">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureInfoAllSchools" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureListForSchool">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureListForSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosure">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AddAmendClosure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmClosure">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ConfirmClosure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfClosureExists">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/CheckIfClosureExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionListForSchool">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscriptionListForSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscriptionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscription">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosureSubscription">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AddAmendClosureSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionExists">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscriptionExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateClosureSubscription">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ActivateClosureSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateClosureSubscription">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/DeactivateClosureSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClosureSubscription">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/DeleteClosureSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureModeratorsList">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureModeratorsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureModerator">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureModerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosureModerator">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AddAmendClosureModerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClosureModerator">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/DeleteClosureModerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosuresNotTweeted">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosuresNotTweeted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureTweeted">
      <soap:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureTweeted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchoolsInformationWebServiceSoap12" type="tns:SchoolsInformationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSchoolList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getSchoolList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchoolDistrictList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/SchoolDistrictList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreasInClusterList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AreasInClusterList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SchoolsInClusterAreaList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/SchoolsInClusterAreaList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSIDPhaseList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getSIDPhaseList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhaseFilteredSchoolList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getPhaseFilteredSchoolList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchoolReferencesFromADGroup">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/getSchoolReferencesFromADGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetADGroupFromSchoolCode">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/GetADGroupFromSchoolCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchoolRoleListForUser">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/GetSchoolRoleListForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataSchoolAdmissionsPortal">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/dataSchoolAdmissionsPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_AllSchools">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_AllSchools" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SchoolsByName">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_SchoolsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SchoolsInGISRectangle">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_SchoolsInGISRectangle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_SpecificSchool">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_SpecificSchool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datasetSchoolAdmissionsPortal_PhaseFilteredSchools">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/datasetSchoolAdmissionsPortal_PhaseFilteredSchools" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ESCCContactListForSchool">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ESCCContactListForSchool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ESCCContactListGeneric">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ESCCContactListGeneric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureTypeList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureInfoAllSchools">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureInfoAllSchools" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureListForSchool">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureListForSchool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosure">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AddAmendClosure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmClosure">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ConfirmClosure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfClosureExists">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/CheckIfClosureExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionListForSchool">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscriptionListForSchool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscriptionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscription">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosureSubscription">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AddAmendClosureSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureSubscriptionExists">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureSubscriptionExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateClosureSubscription">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ActivateClosureSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateClosureSubscription">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/DeactivateClosureSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClosureSubscription">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/DeleteClosureSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureModeratorsList">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureModeratorsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureModerator">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureModerator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmendClosureModerator">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/AddAmendClosureModerator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClosureModerator">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/DeleteClosureModerator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosuresNotTweeted">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosuresNotTweeted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosureTweeted">
      <soap12:operation soapAction="http://czoneapps.eastsussex.gov.uk/Czone.WebService.SchoolsInformation/ClosureTweeted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchoolsInformationWebService">
    <wsdl:port name="SchoolsInformationWebServiceSoap" binding="tns:SchoolsInformationWebServiceSoap">
      <soap:address location="http://localhost/Czone.WebService.SchoolsInformation/SchoolsInformationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SchoolsInformationWebServiceSoap12" binding="tns:SchoolsInformationWebServiceSoap12">
      <soap12:address location="http://localhost/Czone.WebService.SchoolsInformation/SchoolsInformationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>